In [1]:
# importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
, dtype={'hauteur': np.int64, 'debit': np.int64} parse_dates=True df.applymap(np.isreal)

("dtype={'hauteur':",
 'np.int64,',
 "'debit':",
 'np.int64}',
 'parse_dates=True',
 'df.applymap(np.isreal)',
 "dtype={'hauteur':",
 'np.int64,',
 "'debit':",
 'np.int64}')

In [8]:
# reading the dataframe
df = pd.read_csv("../river_analysis/Datasets/niger_river_data.csv", header=1, index_col=0, encoding='utf-8', na_values=[' '])
df.tail(5)
print(df.iloc[[6193]])
df.columns

                 hauteur  debit
12/15/1986 0:00      NaN    NaN

Index([ '1/1/1970 0:00',  '1/2/1970 0:00',  '1/3/1970 0:00',  '1/4/1970 0:00',
        '1/5/1970 0:00',  '1/6/1970 0:00',  '1/7/1970 0:00',  '1/8/1970 0:00',
        '1/9/1970 0:00', '1/10/1970 0:00',
       ...
       '2/26/2021 0:00', '2/27/2021 0:00', '2/28/2021 0:00',  '3/1/2021 0:00',
        '3/2/2021 0:00',  '3/3/2021 0:00',  '3/4/2021 0:00',              nan,
                    nan,              nan],
      dtype='object', length=18693)

In [7]:
cols = df['hauteur','debit']

KeyError: ('hauteur', 'debit')

In [3]:
# checking null values
df.isnull().values.any()

False

In [4]:
df = df.replace(' ', np.nan, regex=True)
print(df.iloc[[6193]])

                hauteur debit
12/15/1986 0:00     NaN   NaN

In [15]:
df.isnull().sum()

hauteur    9
debit      9
dtype: int64

In [17]:
df = df.dropna()
df.isnull().sum()

hauteur    0
debit      0
dtype: int64

In [24]:
df.tail(5)
# df['hauteur'].astype(str).astype(int)

               hauteur debit
2/28/2021 0:00     530  1700
3/1/2021 0:00      527  1673
3/2/2021 0:00      523  1645
3/3/2021 0:00      520  1618
3/4/2021 0:00      516  1592

In [7]:
df.columns

Index(['hauteur', 'debit'], dtype='object')

In [8]:
df = pd.to_numeric(df)

TypeError: arg must be a list, tuple, 1-d array, or Series

In [18]:
df.columns

AttributeError: 'Series' object has no attribute 'columns'

In [65]:
# df['hauteur'].plot()
# plt.show

In [ ]:
#